* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body {
background: #fefefe;
}

.blue-background {
    background-image: linear-gradient(to right bottom, #00132f, #12b4b6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
display: flex;
justify-content: center;
align-items: center;
height: 100px;
padding-bottom: 100px;
}

.nav-container {
    display: flex;
    width: 1140px;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    width: 150px;
}

.nav-link {
    text-decoration: none;
    color: #fefefe;
    font-size: 1rem;
    padding: 0px 12px;
}

main, header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-section {
    height: 550px;
    z-index: 100;
}

h1 {
    color: #fefefe;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.5;
}

h2 {
    font-weight: 500;
    font-size: 2rem;
    color: #2a2a2a;
}

h3 {
    font-weight: 500;
    color: #2a2a2a;
}

button {
    background-color: #fefefe;
    border: none;
    color: #2a2a2a;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 30px;
    transition: transform .25s ease, box-shadow .25s ease;
}

button:hover {
    transform: translateY(-1px);
    box-shadow: 0px 10px 15px #2a2a2a75;
    cursor: pointer;
    transition: transform .25s ease, box-shadow .25s ease;
}

.btn-blue {
    background-color: #12b4b6;
    border: 1px solid #12b4b6;
    color: #fefefe;
    padding: 8px 24px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 30px;
}

.btn-blue:hover {
    background-color: #fefefe;
    border: 1px solid #12b4b6;
    color: #12b4b6;
    cursor: pointer;
}

.hero-img {
    width: 1000px;
}

.platforms-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 325px;
    z-index: 1;
}

.platforms-container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.platforms {
    display: flex;
    width: 500px;
    padding: 30px 0px;
    justify-content: space-between;
}

.platform-logo {
width: 50px;
filter: grayscale(100%) brightness(75%);
transition: filter 0.25s;
}

.platform-logo:hover {
    filter: grayscale(0%) brightness(100%);
    transition: filter 0.25s ease;
    cursor: pointer;
}

.features-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 275px;
    align-items: center;
    justify-content: space-between;
}

.features-cards {
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
}

.features-card {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    width: 250px;
    box-shadow: 0px 10px 15px #2a2a2a75;
}

.inbox-icon {
    width: 60px;
}

.feature-title {
    font-weight: 600;
    font-size: 1.5rem;
    color: #2a2a2a;
    padding: 12px 0px;
}

.feature-description {
    font-weight: 400;
    font-size: 1rem;
    color: #8c8c8c;
}

.pricing-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-section-header {
width: 950px;
margin-top: 80px;
margin-bottom: 40px;
}

.pricing-section-header p {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #8c8c8c;
}

.pricing-cards-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 950px;
}

.pricing-card {
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
    width: 200px;
    box-shadow: 0px 10px 15px #2a2a2a75;
    color: #8c8c8c;
    position: relative;
}

.most-pop {
    width: 150px;
    position: absolute;
    top: -30px;
    right: -15px;
}

.plan-price {
    color: #2a2a2a;
    font-size: 1.5rem;
    font-weight: 600;
}

.plan-name {
    font-size: 1rem;
    font-weight: 500;
    color: #2a2a2a;
    margin: 10px 0px;
}

.faqs-section {
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
margin: 80px 0px;
}

.faqs-container {
    display: flex;
    flex-direction: row;
    width: 950px;
    justify-content: space-between;
}

  .container {
    padding: 40px 0px;
    width: 450px;
  }

  .accordion a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem 3rem 1rem 1rem;
    color: #2a2a2a;
    font-size: 1.25rem;
    font-weight: 400;
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion a:hover,
  .accordion a:hover::after {
    cursor: pointer;
    color: #12b4b6;
  }
  .accordion a.active {
    color: #12b4b6;
    border-bottom: 1px solid #12b4b6;
  }
  .accordion a::after {
    font-family: 'Outfit';
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 1rem;
    color: #2a2a2a;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
  }
  .accordion a.active::after {
    font-family: 'Outfit';
    content: '-';
    color: #12b4b6;
  }
  .accordion .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.2s ease 0.15s;
    -o-transition: all 0.2s ease 0.15s;
    transition: all 0.2s ease 0.15s;
  }
  .accordion .content p {
    font-size: 1rem;
    font-weight: 400;
    color: #8c8c8c;
  }
  .accordion .content.active {
    opacity: 1;
    padding: 1rem;
    max-height: 100%;
    -webkit-transition: all 0.35s ease 0.15s;
    -o-transition: all 0.35s ease 0.15s;
    transition: all 0.35s ease 0.15s;
  }

  .cta-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer {
    background-color: #8c8c8c;
    padding: 40px 60px;
    margin-top: 80px;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
  }

  .footer-nav p {
    color: #fefefe;
    font-size: 1rem;
    font-weight: 600;
  }

  .footer-link {
    text-decoration: none;
    color: #fefefe;
    font-size: 1rem;
    font-weight: 400;
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #fefefe;
    padding-bottom: 40px;
  }

  .email {
    border: 1px solid #fefefe;
    background-color: #fefefe;
    color: #2a2a2a;
    border-radius: 5px;
    font-size: .75rem;
    padding: 6px 8px;
    margin-right: -15px;
    width: 125px;
    outline: none;
  }

  .submit-btn {
    background-color: #12b4b6;
    border: 1px solid #12b4b6;
    color: #fefefe;
    padding: 4px 18px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
  }

  .submit-btn:hover {
    cursor: pointer;
  }

  .email-form p {
    color: #fefefe;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
  }

  form {
    display: flex;
    align-items: center;
  }